<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{category.name}} books</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
  <h1><a href="{{url_for('show_categories')}}">Books app</a></h1>
  {% if 'name' in login_session %}
    <span>{{login_session.name}}.. </span><a href="{{url_for('show_login')}}">Logout</a>
  {% else%}
    <a href="{{url_for('show_login')}}">Login</a>
  {% endif %}
  <hr>  
  <h2>{{category.name}} books</h2>
  <a href="{{url_for('add_book', category_id=category.id)}}">Add new book</a>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}    
  {% if not(books) or not(books[0]) %}
    <p>No books available.</p>
  {% else %}
    <ul>
      {% for book in books %}
        <li>
          <p>Title: {{book.name}}</p>
          <p>Description: {{book.description}}</p>
          <p>Author: {{book.author}}</p>
          {% if book.user_id == login_session.user_id %}
          <a href="{{url_for('edit_book', category_id=category.id, book_id=book.id)}}">edit</a>&nbsp;&nbsp;
          <a href="{{url_for('delete_book', category_id=category.id, book_id=book.id)}}">delete</a>
          {% endif %}
        </li><br>
      {% endfor %}
    </ul>
  {% endif %}
</body>
</html>