<!DOCTYPE html>
<html>
<head>
  <meta name="google-signin-scope" content="openid email">
  <meta name="google-signin-client_id" content="477649816139-ugpro9dj507g01hrsul4g5m6qeonc8v2.apps.googleusercontent.com">
  <script src="//apis.google.com/js/platform.js?onload=init" async defer></script>
</head>
<body>
  <div class="g-signin2"
    data-onsuccess="onSignIn"
    data-onfailure="onSignInFailure"

    data-cookiepolicy="single_host_origin"
    data-redirecturi="postmessage"
    data-accesstype="offline"
    data-approvalprompt="force">
  </div>
  <div id="result"></div>

  <script>
    function onSignIn(googleUser) {
      // document.querySelector('.g-signin2').style.display = "none";
      let resultCont = document.getElementById('result')

      if (googleUser.code) {
        fetch('/gconnect?state={{STATE}}', {
          method: 'POST',
          headers: {
            "content-type": "application/octet-stream; charset=utf-8",
          },
          body: googleUser.code
        })
        .then(function(response) {
          if (response.status === 200) {
            return response.text().then(function(body) {
              result.innerHTML = "Login successful <br>" + body + "<br> redirecting...";
              setTimeout(function() {
                window.location.href="/"
              }, 2000)
            })
          } else {
            console.log(response.statusText)
          }
        })
        .catch(function(error) {
        })
      }
    }

    function onSignInFailure(response) {
      console.log(response) // the only property right there
    }
  </script>
</body>
</html>