<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <title>Add new menu item</title>
</head>
<body>
  <h1>Add new item on {{restaurant.name}}'s menu</h1>
  <form action="{{url_for('add_item', restaurant_id=restaurant.id)}}" method="post">
    <input type="text" placeholder="item name" name="item_name"><br>
    <input type="text" placeholder="item description" name="item_description"><br>
    <input type="text" placeholder="item price" name="item_price"><br><br>
    <input type="submit" value="Submit">
    <a href="{{url_for('show_menu', restaurant_id=restaurant.id)}}">Cancel</a>
  </form>
</body>
</html>