<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{category.name}} books</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
  <h1>{{category.name}} books</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}    
  {% if not(books) or not(books[0]) %}
    <p>No books available.</p>
  {% else %}
    <ul>
      {% for book in books %}
        <li>
          <p>{{book.name}}</p>
          <p>{{book.description}}</p>
          <p>{{book.author}}</p>
        </li><br>
      {% endfor %}
    </ul>
  {% endif %}
</body>
</html>